SERVER_HOST=
SERVER_PORT=

WS_HOST=
WS_PORT=

FE_URL=
BE_URL=
WS_URL=

SOCKETIO_HOST=
SOCKETIO_PORT=

JWT_SECRET=
JWT_EXPIRE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

TELESCOPE_LONGITUDE=
TELESCOPE_LATITUDE=
TELESCOPE_ELEVATION=

NASA_EMAIL=
NASA_ACC_ID=
NASA_API_KEY=

ASTRO_API_URL=
ASTRO_API_APP_ID=
ASTRO_API_APP_SECRET=

RASP_PI_HOST=
RASP_PI_PORT=

SSL_KEY=
SSL_CERT=