SERVER_HOST=
SERVER_PORT=

JWT_SECRET=
JWT_EXPIRE=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

TELESCOPE_LONGITUDE=
TELESCOPE_LATITUTDE=

NASA_EMAIL=
NASA_ACC_ID=
NASA_API_KEY=

ASTRO_API_APP_ID=
ASTRO_API_APP_SECRET=