# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
fastify-service/cert
uwebsocket-service/cert
fastify-service/uploads/*
!/fastify-service/uploads/.gitkeep

.env
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
certificates

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
